name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: [ "ubuntu-latest" ]
    strategy:
      matrix:
        env:
          - { CXX: g++, CC: gcc, CXX_FOR_BUILD: g++, CC_FOR_BUILD: gcc }
          - { CXX: clang++, CC: clang, CXX_FOR_BUILD: clang++, CC_FOR_BUILD: clang }
    steps:
      - name: checkout-source
        uses: actions/checkout@v2
      - name: checkout-submodules
        run: git submodule update --init --recursive
      - name: update-system
        run: sudo apt-get update -qq
      - name: install-deps
        run: sudo apt-get install libibus-1.0-dev libzstd-dev qt5-default rustc cargo
      - name: make
        env: ${{ matrix.env }}
        run: |
          mkdir build
          cd build
          cmake ..
          make
